USE [master]
GO
/****** Object:  Database [QuanLyThueOto]    Script Date: 11/28/2023 11:37:07 PM ******/
CREATE DATABASE [QuanLyThueOto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThueOto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyThueOto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThueOto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyThueOto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThueOto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThueOto]
GO
/****** Object:  Table [dbo].[ChiTietTaiKhoan]    Script Date: 11/28/2023 11:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietTaiKhoan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[AnhDaiDien] [nvarchar](50) NULL,
	[CCCD] [nchar](12) NULL,
	[BangLaiXe] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[YeuCauXacThuc] [bit] NULL,
	[SoDu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danhgia]    Script Date: 11/28/2023 11:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danhgia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[MaXe] [nchar](10) NOT NULL,
	[NoiDung] [nvarchar](255) NULL,
	[NgayDanhGia] [date] NULL,
	[SoSaoDanhGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dichvu]    Script Date: 11/28/2023 11:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dichvu](
	[MaDichVu] [nchar](10) NOT NULL,
	[TenDichVu] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[DonGia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 11/28/2023 11:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHopDong] [nchar](10) NOT NULL,
	[MaXe] [nchar](10) NOT NULL,
	[Userid] [int] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[NgayThue] [date] NULL,
	[NgayTra] [date] NOT NULL,
	[MaVouncher] [nchar](50) NULL,
	[ThanhTien] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiXe]    Script Date: 11/28/2023 11:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiXe](
	[MaLoaiXe] [nchar](10) NOT NULL,
	[TenLoaiXe] [nvarchar](255) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaNap]    Script Date: 11/28/2023 11:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaNap](
	[ID_MN] [int] IDENTITY(1,1) NOT NULL,
	[MaNapTien] [varchar](20) NOT NULL,
	[NoiDung] [nvarchar](255) NOT NULL,
	[GiaTri] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuaChuaBaoDuong]    Script Date: 11/28/2023 11:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuaChuaBaoDuong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaXe] [nchar](10) NOT NULL,
	[NoiDung] [nvarchar](255) NULL,
	[LanGanNhat] [date] NOT NULL,
	[NgaySuaChua] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/28/2023 11:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [varchar](20) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Trangthai] [bit] NOT NULL,
	[VaiTro] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThemDichVu]    Script Date: 11/28/2023 11:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThemDichVu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaXe] [nchar](10) NOT NULL,
	[MaDichVu] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouncher]    Script Date: 11/28/2023 11:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouncher](
	[MaVouncher] [nvarchar](50) NOT NULL,
	[NoiDung] [nvarchar](255) NOT NULL,
	[GiaTri] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVouncher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 11/28/2023 11:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[MaXe] [nchar](10) NOT NULL,
	[TenXe] [nvarchar](50) NOT NULL,
	[SoGhe] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[GiaThue] [int] NOT NULL,
	[Anh_Xe] [varchar](50) NOT NULL,
	[MaLoaiXe] [nchar](10) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietTaiKhoan] ON 

INSERT [dbo].[ChiTietTaiKhoan] ([ID], [UserID], [HoTen], [AnhDaiDien], [CCCD], [BangLaiXe], [SDT], [NgaySinh], [GioiTinh], [DiaChi], [YeuCauXacThuc], [SoDu]) VALUES (1, 1, N'Nguyễn Đình Hoàng Long', NULL, NULL, NULL, N'0123123123', CAST(N'1990-01-11' AS Date), 0, N'Hải Phòng', 1, 7000000)
INSERT [dbo].[ChiTietTaiKhoan] ([ID], [UserID], [HoTen], [AnhDaiDien], [CCCD], [BangLaiXe], [SDT], [NgaySinh], [GioiTinh], [DiaChi], [YeuCauXacThuc], [SoDu]) VALUES (2, 2, N'Nguyễn Đình Thiên Long', NULL, NULL, NULL, N'0123456456', CAST(N'1990-02-12' AS Date), 0, N'Hải Phòng', 1, 7000000)
INSERT [dbo].[ChiTietTaiKhoan] ([ID], [UserID], [HoTen], [AnhDaiDien], [CCCD], [BangLaiXe], [SDT], [NgaySinh], [GioiTinh], [DiaChi], [YeuCauXacThuc], [SoDu]) VALUES (3, 3, N'Nguyễn Nghiêm', NULL, NULL, NULL, N'0123456789', CAST(N'1990-03-13' AS Date), 0, N'Hải Phòng', 1, 7000000)
SET IDENTITY_INSERT [dbo].[ChiTietTaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[danhgia] ON 

INSERT [dbo].[danhgia] ([id], [UserID], [MaXe], [NoiDung], [NgayDanhGia], [SoSaoDanhGia]) VALUES (1, 2, N'XE01      ', N'Xe vận hành tốt, giá cả hợp lý', CAST(N'2022-01-14' AS Date), 5)
INSERT [dbo].[danhgia] ([id], [UserID], [MaXe], [NoiDung], [NgayDanhGia], [SoSaoDanhGia]) VALUES (2, 29, N'XE01      ', N'Xe vận hành tốt, giá cả hợp lý, dịch vụ tốt', CAST(N'2022-01-26' AS Date), 5)
INSERT [dbo].[danhgia] ([id], [UserID], [MaXe], [NoiDung], [NgayDanhGia], [SoSaoDanhGia]) VALUES (3, 2, N'XE02      ', N'Trải nghiệm thuê rất tốt, đánh giá 5 sao', CAST(N'2022-02-22' AS Date), 5)
SET IDENTITY_INSERT [dbo].[danhgia] OFF
GO
INSERT [dbo].[dichvu] ([MaDichVu], [TenDichVu], [GhiChu], [DonGia]) VALUES (N'DV01      ', N'Thuê người lái', N'Khách hầng sẽ có người lái xe đi cầm lái cho đến khi hết hợp đồng', 650000)
INSERT [dbo].[dichvu] ([MaDichVu], [TenDichVu], [GhiChu], [DonGia]) VALUES (N'DV02      ', N'Cứu hộ đường cao tốc', N'Đội cứu hộ sẽ đến hỗ trợ đưa xe khác đến cho khách hàng và đưa xe gặp vấn đề về cơ sở', 2000000)
INSERT [dbo].[dichvu] ([MaDichVu], [TenDichVu], [GhiChu], [DonGia]) VALUES (N'DV03      ', N'Đưa đón sân bay', N'khách hàng sẽ được đưa tới sân bay hoặc đón từ sân bay về', 1500000)
GO
INSERT [dbo].[HopDong] ([MaHopDong], [MaXe], [Userid], [GhiChu], [NgayThue], [NgayTra], [MaVouncher], [ThanhTien]) VALUES (N'HD01      ', N'XE01      ', 2, NULL, CAST(N'2022-01-06' AS Date), CAST(N'2022-01-14' AS Date), NULL, 5500000)
INSERT [dbo].[HopDong] ([MaHopDong], [MaXe], [Userid], [GhiChu], [NgayThue], [NgayTra], [MaVouncher], [ThanhTien]) VALUES (N'HD02      ', N'XE01      ', 29, NULL, CAST(N'2022-01-18' AS Date), CAST(N'2022-01-26' AS Date), NULL, 21000000)
INSERT [dbo].[HopDong] ([MaHopDong], [MaXe], [Userid], [GhiChu], [NgayThue], [NgayTra], [MaVouncher], [ThanhTien]) VALUES (N'HD03      ', N'XE02      ', 2, NULL, CAST(N'2022-02-04' AS Date), CAST(N'2022-02-22' AS Date), NULL, 13350000)
GO
INSERT [dbo].[LoaiXe] ([MaLoaiXe], [TenLoaiXe], [GhiChu]) VALUES (N'DAU       ', N'Xe dầu', N'Xe chạy bằng nhiên liệu dầu')
INSERT [dbo].[LoaiXe] ([MaLoaiXe], [TenLoaiXe], [GhiChu]) VALUES (N'DIEN      ', N'Xe điện', N'Xe chạy bằng nhiên liệu điện')
INSERT [dbo].[LoaiXe] ([MaLoaiXe], [TenLoaiXe], [GhiChu]) VALUES (N'XANG      ', N'Xe xăng', N'Xe chạy bằng nhiên liệu xăng')
GO
SET IDENTITY_INSERT [dbo].[MaNap] ON 

INSERT [dbo].[MaNap] ([ID_MN], [MaNapTien], [NoiDung], [GiaTri], [TrangThai]) VALUES (1, N'NAP_5TRIEU', N'Mã nạp 5 triệu vào tài khoản', 5000000, 0)
INSERT [dbo].[MaNap] ([ID_MN], [MaNapTien], [NoiDung], [GiaTri], [TrangThai]) VALUES (2, N'NAP_7TRIEU', N'Mã nạp 5 triệu vào tài khoản', 7000000, 0)
INSERT [dbo].[MaNap] ([ID_MN], [MaNapTien], [NoiDung], [GiaTri], [TrangThai]) VALUES (3, N'NAP10TRIEU', N'Mã nạp 5 triệu vào tài khoản', 10000000, 0)
SET IDENTITY_INSERT [dbo].[MaNap] OFF
GO
SET IDENTITY_INSERT [dbo].[SuaChuaBaoDuong] ON 

INSERT [dbo].[SuaChuaBaoDuong] ([ID], [MaXe], [NoiDung], [LanGanNhat], [NgaySuaChua]) VALUES (1, N'XE01      ', N'Bảo dưỡng định kỳ', CAST(N'2022-01-15' AS Date), CAST(N'2022-06-25' AS Date))
INSERT [dbo].[SuaChuaBaoDuong] ([ID], [MaXe], [NoiDung], [LanGanNhat], [NgaySuaChua]) VALUES (2, N'XE02      ', N'Bảo dưỡng định kỳ', CAST(N'2022-01-15' AS Date), CAST(N'2022-06-25' AS Date))
INSERT [dbo].[SuaChuaBaoDuong] ([ID], [MaXe], [NoiDung], [LanGanNhat], [NgaySuaChua]) VALUES (3, N'XE03      ', N'Bảo dưỡng định kỳ', CAST(N'2022-01-15' AS Date), CAST(N'2022-06-25' AS Date))
SET IDENTITY_INSERT [dbo].[SuaChuaBaoDuong] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([UserID], [TaiKhoan], [MatKhau], [Email], [Trangthai], [VaiTro]) VALUES (1, N'LongNDH', N'songlong', N'longnd@gmail.com', 1, 1)
INSERT [dbo].[TaiKhoan] ([UserID], [TaiKhoan], [MatKhau], [Email], [Trangthai], [VaiTro]) VALUES (2, N'LongNDT', N'songlong', N'longndt@gmail.com', 1, 0)
INSERT [dbo].[TaiKhoan] ([UserID], [TaiKhoan], [MatKhau], [Email], [Trangthai], [VaiTro]) VALUES (3, N'NghiemN', N'songlong', N'nghiemnguyen@gmail.com', 1, 0)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
INSERT [dbo].[Vouncher] ([MaVouncher], [NoiDung], [GiaTri], [TrangThai]) VALUES (N'EMHIEUDINHVAINHO', N'Giảm giá trị thuê xe 15%', 3, 0)
INSERT [dbo].[Vouncher] ([MaVouncher], [NoiDung], [GiaTri], [TrangThai]) VALUES (N'EMHIEUTOP1THAPTRUYHON', N'Giảm giá trị thuê xe 5%', 1, 0)
GO
INSERT [dbo].[Xe] ([MaXe], [TenXe], [SoGhe], [TrangThai], [GiaThue], [Anh_Xe], [MaLoaiXe], [GhiChu]) VALUES (N'XE01      ', N'Kia Morning 5.2', 4, 0, 500000, N'Kia_Morning_5.2_4cho_xang.jpg', N'XANG      ', NULL)
INSERT [dbo].[Xe] ([MaXe], [TenXe], [SoGhe], [TrangThai], [GiaThue], [Anh_Xe], [MaLoaiXe], [GhiChu]) VALUES (N'XE02      ', N'Vinfast VF5 2023', 4, 0, 650000, N'Vinfast_VF5_2023_4cho_dien.jpg', N'DIEN      ', NULL)
INSERT [dbo].[Xe] ([MaXe], [TenXe], [SoGhe], [TrangThai], [GiaThue], [Anh_Xe], [MaLoaiXe], [GhiChu]) VALUES (N'XE03      ', N'Mercedes-Benz C 300 AMG', 4, 0, 4000000, N'Mercedes-Benz_C_300 AMG_4cho_xang.jpg', N'XANG      ', NULL)
GO
/****** Object:  Index [UQ__ChiTietT__1788CCADE8E50F28]    Script Date: 11/28/2023 11:37:07 PM ******/
ALTER TABLE [dbo].[ChiTietTaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__D5B8C7F04CE48175]    Script Date: 11/28/2023 11:37:07 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ThemDich__C0E6DE8EB03001FA]    Script Date: 11/28/2023 11:37:07 PM ******/
ALTER TABLE [dbo].[ThemDichVu] ADD UNIQUE NONCLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietTaiKhoan] ADD  DEFAULT ((0)) FOR [YeuCauXacThuc]
GO
ALTER TABLE [dbo].[ChiTietTaiKhoan] ADD  DEFAULT ((0)) FOR [SoDu]
GO
ALTER TABLE [dbo].[danhgia] ADD  DEFAULT (getdate()) FOR [NgayDanhGia]
GO
ALTER TABLE [dbo].[danhgia] ADD  DEFAULT ((5)) FOR [SoSaoDanhGia]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayThue]
GO
ALTER TABLE [dbo].[MaNap] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [VaiTro]
GO
ALTER TABLE [dbo].[Xe] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietTaiKhoan]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[TaiKhoan] ([UserID])
GO
ALTER TABLE [dbo].[danhgia]  WITH CHECK ADD FOREIGN KEY([MaXe])
REFERENCES [dbo].[Xe] ([MaXe])
GO
ALTER TABLE [dbo].[danhgia]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[TaiKhoan] ([UserID])
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaXe])
REFERENCES [dbo].[Xe] ([MaXe])
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([Userid])
REFERENCES [dbo].[TaiKhoan] ([UserID])
GO
ALTER TABLE [dbo].[SuaChuaBaoDuong]  WITH CHECK ADD FOREIGN KEY([MaXe])
REFERENCES [dbo].[Xe] ([MaXe])
GO
ALTER TABLE [dbo].[ThemDichVu]  WITH CHECK ADD FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[dichvu] ([MaDichVu])
GO
ALTER TABLE [dbo].[ThemDichVu]  WITH CHECK ADD FOREIGN KEY([MaXe])
REFERENCES [dbo].[Xe] ([MaXe])
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LoaiXe] ([MaLoaiXe])
GO
/****** Object:  StoredProcedure [dbo].[sp_DoanhThu]    Script Date: 11/28/2023 11:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_DoanhThu](@month int)
	as begin
	Select 
		soghe LoaiXe,
		count(xe.SoGhe) soxe,
		sum(hd.ThanhTien) Doanhthu,
		min(hd.ThanhTien) ThapNhat,
		max(hd.ThanhTien) CaoNhat,
		avg(hd.ThanhTien) TrungBinh
	from HopDong hd
	Join Xe xe on hd.MaXe=xe.MaXe
	where month(NgayThue) =@month
	group by soghe
	end 
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeHoaDon]    Script Date: 11/28/2023 11:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ThongKeHoaDon]
    as begin
        select
            month(NgayThue) Thang,
            count(*) SoLuong,
            Min(NgayThue) DauTien,
            Max(NgayThue) CuoiCung
        from HopDong
        group by month(NgayThue)
    end
	exec sp_ThongKeHoaDon
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeHopDong]    Script Date: 11/28/2023 11:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ThongKeHopDong]
    as begin
        select
          *
        from HopDong      
    end
	exec sp_ThongKeHopDong
GO
USE [master]
GO
